<div class="container wrapper">
    <div class="row">
        <h2 class="text-center">Get a complete detail of an item from dummy api</h2>
        <p class="text-center" style="margin-bottom:20px">Here on detail page with data </p>
        <div ng-if="loading " style="position:absolute;top:50%;left:50%;color:red">
            <i class="fa fa-refresh fa-4x fa-spin"></i>
        </div>
        <div ng-if="!loading && item">
            <h2> id is : {{item.id}}</h2>
            <p>Here goes data of this id: </p>
            <ul class="list-unstyled list-group">
                <li> UserId: {{item.userId}}</li>
                <li>Id: {{item.id}}</li>
                <li>Title:{{item.title}}</li>
                <li>Body : {{item.body}}</li>
            </ul>
        </div>

    </div>

</div>
<style>
    .wrapper {
        min-height: 800px !important;
    }
</style>


