<p>
<div ng-repeat="data in httpdata">
    id is : {{data.id}}
</div>
<p>Here goes data of id: </p>
<div>
    <ul ng-repeat="data in httpdata">
        <li> userId: {{data.userId}}</li>
        <li>id: {{data.id}}</li>
        <li>title:{{data.title}}</li>
        <li>body : {{data.body}}</li>
    </ul>
</div>
</p>