<div class="container footer" id="footer">
    <div class="row">
        <nav class="navbar">
            <div class="col-sm-6">
                <ul class="nav">
                    <li class="navbar-text"> About</li>
                    <li class="navbar-text">FAQs</li>
                    <li class="navbar-text"><a ui-sref="contact">Contact Us</a></li>
                    <li class="navbar-text">Terms of Use & Privacy Policy</li>
                </ul>
            </div>
            <div class="col-sm-6 pull-right" style="padding-top:10px;text-align:right">
                <p class="pull-right">Company 2016. All Rights Reserved.</p>
            </div>


        </nav>
    </div>
</div>

<style>
    .footer .navbar ul li{
        display:inline-block;
    }
</style>