<div class="container wrapper">
    <div class="row">
        <h2 class="text-center">Get all posts from dummy api</h2>
        <p class="text-center" style="margin-bottom:20px">Here on home page with data </p>
        <div ng-if="loading " style="position:absolute;top:50%;left:50%;color:red">
            <i class="fa fa-refresh fa-4x fa-spin"></i>
        </div>
        <div ng-if="!loading && httpdata && httpdata.length">
            <ul class="list-unstyled list-group">
                <li class="list-group-item" ng-repeat="data in httpdata|limitTo:40">
                    <a ui-sref="detail({id : data.id})">
                    {{data.id}}&nbsp;&nbsp;{{data.title}}
                    </a>
                </li>
            </ul>
        </div>

    </div>

</div>
<style>
    .wrapper{
        min-height:800px !important;
    }
</style>